* {
  margin: 0;
  padding: 0;
  outline: 0;
  /* font-family: "Rubik Mono One", sans-serif; */
}
ul,
ol {
  list-style: none;
}

.main {
  width: 100%;
  background: linear-gradient(
      to top,
      rgb(0, 0, 0, 0.5) 50%,
      rgb(0, 0, 0, 0.5) 50%
    ),
    url(../images/2.jpg);
  background-position: center;
  /* background-attachment: fixed; */
  background-size: cover;
  height: 109vh;
}
.nevbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}
.icon {
  width: 200px;
  float: left;
  height: 70px;
}
.logo {
  color: orange;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}
.menu {
  width: 400px;
  float: left;
  height: 70px;
}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover {
  color: orange;
}
.search {
  width: 330px;
  float: left;
  margin-left: 270px;
}
.srch {
  font-family: "Times New Roman";
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid orange;
  margin-top: 13px;
  color: white;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}
.btn-srch {
  width: 100px;
  height: 40px;
  background: orange;
  border: 2px solid orange;
  margin-top: 13px;
  color: white;
  font-size: 16px;
  border-bottom-right-radius: 5px;
}
.btn-srch:focus {
  outline: none;
}
.srch:focus {
  outline: none;
}
.content {
  width: 1200px;
  height: auto;
  margin: auto;
  color: white;
  position: relative;
}
.content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}
.content h1 {
  font-family: "Times New Roman";
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}
.content .btn-cn {
  width: 160px;
  height: 40px;
  background: orange;
  border: none;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}
.content .btn-cn a {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
}
.btn-cn:hover {
  background-color: white;
}
.content span {
  color: orange;
  font-size: 60px;
}

.form {
  width: 250px;
  height: 380px;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  position: absolute;
  top: -20px;
  left: 870px;
  border-radius: 10px;
  padding: 25px;
}
.form h2 {
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: orange;
  font-size: 22px;
  background: white;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid orange;
  border-top: none;
  border-right: none;
  border-left: none;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}
.form input:focus {
  outline: none;
}
::placeholder {
  color: white;
  font-family: Arial;
}
.btn-log {
  width: 240px;
  height: 40px;
  background-color: orange;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.4s ease;
}

.btn-log:hover {
  background-color: white;
  color: orange;
}

.btn-log a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.form .link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

.form .link a {
  text-decoration: none;
  color: orange;
}
.liw {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}
.icons a {
  text-decoration: none;
  color: white;
}

.icons ion-icon {
  color: white;
  font-size: 30px;
  padding-left: 15px;
  padding-top: 5px;
  transition: 0.4s ease;
}
.icons ion-icon:hover {
  color: orange;
}
.main-container {
  width: 100%;
  background: linear-gradient(
      to top,
      rgb(0, 0, 0, 0.5) 50%,
      rgb(0, 0, 0, 0.5) 50%
    ),
    url(../images/3.jpg);
  background-position: center;
  /* background-attachment: fixed; */
  background-size: cover;
  height: 109vh;
}
.main-container h1 {
  padding: 20px;
  color: orange;
  text-align: center;
  font-family: "Gill Sans";
}
.main-from {
  height: 500px;
  width: 700px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  color: lightgray;
}
.main-from:hover {
  box-shadow: 3px;
  /* background: linear-gradient(rgb(223, 227, 218), rgb(86, 86, 82)); */
  background: linear-gradient(
    to top,
    rgb(0, 0, 0, 0.3) 50%,
    rgb(0, 0, 0, 0.3) 50%
  );
}
.main-from form {
  width: 300px;
}
.main-from form label {
  font-size: 20px;
  margin-left: 5px;
  color: white;
}
.main-from form label span {
  color: rgb(245, 89, 89);
}

.main-from form input {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  font-size: 18px;
  border: none;
  padding-left: 20px;
  background-color: lightcyan;
  border-bottom: 3px solid rgb(93, 0, 255);
  color: blue;
}
::placeholder {
  color: rgb(177, 137, 137);
}

.main-from form button {
  margin-top: 20px;
  margin-left: 100px;
  padding: 8px 30px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  background: orange;
  cursor: pointer;
  color: white;
}
footer {
  text-align: center;
  background: #fff;
  /* color: #fff; */
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
}
